<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kuka_lwr_right_robot">
	
  <!-- define PI variable -->
  <xacro:property name="pi" value="3.1415926535897931" />

  <!-- Include kuka lwr model -->
  <xacro:include filename="$(find kuka_lwr_description)/model/kuka_lwr_urdf.xacro"/>
  
  <!-- Include trunk model -->
  <xacro:include filename="$(find trunk_description)/model/trunk.urdf.xacro"/>
  
  <!-- Create Kuka LWR Right -->
  <xacro:kuka_lwr parent="trunk_link" name="kuka_lwr_right">
	<origin xyz="-0.17 0 1.45" rpy="0 ${pi/2.0} ${pi}"/>
  </xacro:kuka_lwr>

</robot>
