<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_trunk">
	
	
	<!-- Used for fixing robot to Gazebo 'base_link' -->
	<link name="world"/>

	<joint name="world_fixed" type="fixed">
		<parent link="world"/>
		<child link="trunk_link"/>
	</joint>

	<!-- define platform trunk -->
	<link name="trunk_link">
		<visual>
			<origin xyz="0 0 0" rpy="${pi/2.0} 0 0"/>
			<geometry>
				<mesh filename="package://trunk_description/meshes/trunk.stl"/>
			</geometry>
			<material name="Kuka/LightGrey"/>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="${pi/2.0} 0 0"/>
			<geometry>
				<mesh filename="package://trunk_description/meshes/trunk.stl"/>
			</geometry>
		</collision>
	</link>
	
	<!--<gazebo reference="base_link">
		<static>true</static>
	</gazebo>-->

</robot>
