<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	
  <material name="DarkGrey">
    <color rgba="0.3 0.3 0.3 1.0"/>
  </material>
  
  <material name="LightGrey">
    <color rgba="0.8 0.8 0.8 1.0"/>
  </material>

  <material name="Black">
    <color rgba="0 0 0 1.0"/>
  </material>

</robot>
